
*.log
*.log
My project/Logs/AssetImportWorker0-prev.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
My project/UserSettings/Layouts/default-2021.dwlt
*.dwlt
My project/Logs/AssetImportWorker0-prev.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
My project/UserSettings/Layouts/default-2021.dwlt
